$primaryColor: #FF5B69;
$primaryColorHover: #f84d5b;
$secondaryColor: #1F2942;
$grayColor: #F8F9FD;
$primaryLightColor: #FBEFEF;
$textColor: #8A8A8A;
$textDarkColor: #707070;


$titleSize: 45px;
$paragSize: 16px;

$borderRadius: 4px;

$extraBold: 700;
$bold: bold;


$lineHeight: 24px;